html{
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face {
  font-family: 'Uni Sans';
  src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff2') format('woff2'),
  url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff') format('woff'),
  url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansHeavyCAPS.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff2') format('woff2'),
  url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff') format('woff'),
  url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansThinCAPS.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800');

body {
  font-family: 'Uni Sans', sans-serif;
  font-weight: 500;
  background: #000000;
  background-repeat: no-repeat;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* track */
  &::-webkit-scrollbar-track {
    background: var(--black);
  }

  /* handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(70, 24, 70);
  }

  /* handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 32, 114);
  }

  &.active {
    overflow: hidden;
    height: calc(100vh - 1rem);
  }
}


main{ 

    width: 100%;

    margin: 0px auto;
    overflow: hidden;
    height: 100vh;

    .title{
      justify-content: center;
      display: flex;
      align-items: center;

      h1{

        position: absolute;
        top: 30%;
        color: var(--white);
        font-weight: 200;
        text-align: center;
        font-size: calc(2.5em + 3vw);
    
        z-index: 0;
      }
    }

      .bg{
        mask-image  : linear-gradient(#0e0d0d03 0%, #0e0d0d 25%, #0e0d0d4f 95%);
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(35%);
        z-index: 0;
        pointer-events: none;
        user-select: none;
        }

        .indication{
          justify-content: center;
          display: flex;
          align-items: center;

          img{
            bottom: 0;
            top: 40%;
            position: absolute;
            width: 20px;
            height: 100%;
           }
        }


}


.designer{
  
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;

  p{
    position: absolute;
    color: #ffffff;
    font-size: calc(1.7em + 3vw);
    z-index: 1;
    text-align: center;
  }


  .slide1{
      animation: fade1 12s linear infinite;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(40%);
      mask-image: linear-gradient(#00000000 0%, #000000 25%, #00000000 95%);
      z-index: 0;
      pointer-events: none;
      user-select: none;
    }
  

  .slide2{
    animation: fade2 12s linear infinite;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    mask-image: linear-gradient(#00000000 0%, #000000 25%, #00000000 95%);
    z-index: 0;
    pointer-events: none;
    user-select: none;
  }




  

  button{
    margin-top: 250px;
    z-index: 1;
    align-items: center;
    padding: 6px 35px;
    border: 1px solid rgb(255, 255, 255); 
    color: white;
    background-color: transparent;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    position: relative;
    cursor: pointer;
    outline: none;
    border-image: 1px solid linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C, #BF953F);
    background-size: 400%;
    font-size: 20px;
    font-weight: 350;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @media (max-width: 600px) {
      margin-top: 150px;
    }
  } 
  button:hover{
    color: white;
    background: rgba(255, 255, 255, 0.189);
  }
  }


  @keyframes fade1{
    0%{
      visibility: visible

    }
  
    25%{
      visibility: hidden

    }
  
    50%{
      visibility: hidden

    }
  
    75%{
      visibility: hidden

    }
  
    100%{
      visibility: visible

    }

  }

@keyframes fade2{
  0%{
    visibility: hidden

  }

  25%{
    visibility: hidden

  }

  50%{
    visibility: visible

  }

  75%{
    visibility: hidden

  }

  100%{
    visibility: hidden

  }

}


@keyframes zoom-out{
  100%{
    width: 100%

  }

}