* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
background: #f1f1f1;
background-repeat: no-repeat;
overflow-x: hidden;
}


main{ 

    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 1rem;
    overflow: hidden;
}


.title{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 8rem;
    line-height: 150%;
    z-index: -2;
   
    p{
        font-size: 1.25rem;
        line-height: 100%;
        color: transparent;
    }

    @media (max-width: 900px) {
        text-align: center;
       h1{
        font-size: 6rem;
        line-height: 100%;
        
       }
    }
}

.spider-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    max-width: 100vh;
    transition: var(--transition-default);
    animation: float 5s cubic-bezier(0.91, -0.03, 0.17, 0.75) infinite;


    z-index: 0;

    > img {
      width: 110%;
      
  
      pointer-events: none;
      user-select: none;
      
      transform: scale(1.1);

    }
    @media (max-width: 900px) {
        z-index: -1;
        left: unset;
        max-width: unset;
        mask-image: linear-gradient(to right, transparent, rgb(0, 0, 0));
        overflow: hidden;
        width: 600px;
    }
        
}
@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}