* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face {
  font-family: 'Uni Sans';
  src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff2') format('woff2'),
  url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168547/unisans-font/UniSansHeavyCAPS.woff') format('woff'),
  url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansHeavyCAPS.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src: url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff2') format('woff2'),
  url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168545/unisans-font/UniSansThinCAPS.woff') format('woff'),
  url('https://res.cloudinary.com/muhammederdem/raw/upload/v1536168548/unisans-font/UniSansThinCAPS.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800');

body {
  font-family: 'Uni Sans', sans-serif;
  font-weight: 500;
  background: #f1f1f1;
  background-repeat: no-repeat;
  overflow-x: hidden;
}


main{ 

    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 1rem;
    overflow: hidden;

}
.learn-more{
  display: flex;
  align-items: center;
  justify-content: center;
}

.stripe-button-two {
  outline: 0;
  background: rgba(155, 9, 9, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.54);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 12px 50px;
  transition-property: background-color, opacity;
    svg {
        margin-left: 8px;
        vertical-align: auto;
      }
      .HoverArrow {
        --arrowSpacing: 5px;
        --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
        --arrowHoverOffset: translateX(4px);
        --arrowTipTransform: none;
        --arrowLineOpacity: 0;
        position: relative;
        top: 1px;
        margin-left: var(--arrowSpacing);
        stroke-width: 2px;
        fill: none;
        stroke: currentColor;
      }
      
      .HoverArrow__linePath {
        --arrowSpacing: 5px;
        --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
        --arrowHoverOffset: translateX(4px);
        --arrowTipTransform: none;
        --arrowLineOpacity: 0;
        opacity: var(--arrowLineOpacity);
        transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
        opacity: 1;
      }
      
      .HoverArrow__tipPath {
        transform: none;
        transition: transform
          var(--hoverTransition, 250ms cubic-bezier(0.215, 0.61, 0.355, 1));
          opacity: 1;
          transform: translateX(4px);
      }

      @media (min-width: 900px) {
        display: none;
    }
  }
  

.title{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 8rem;
    line-height: 150%;
    z-index: -2;
    margin-top: 20px;

    h1{
      color: #0f1b2e;
    }
   
    p{
        font-size: 1.25rem;
        line-height: 100%;
        color: transparent;
    }

    @media (max-width: 900px) {
        text-align: center;
       h1{
        font-size: 6rem;
        line-height: 100%;
        
       }
    }
}

.spider-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    max-width: 100vh;
    transition: var(--transition-default);
    animation: float 5s cubic-bezier(0.91, -0.03, 0.17, 0.75) infinite;

  
    z-index: 1;

    > img {
      width: 110%;
      
  
      pointer-events: none;
      user-select: none;
      
      transform: scale(1.1);

    }
    @media (max-width: 900px) {
        position: relative;
        z-index: -1;
        left: unset;
        max-width: unset;
        mask-image: linear-gradient(to right, transparent, rgb(0, 0, 0));
        overflow: hidden;
        max-width: 600px;
        margin-left: -120px;
        margin-top: -169px;
    }
     
}


.presentation{
  z-index: -1;
  height: 120vh;
  background-color: #b22222;

    .melts{
        width: 100%;
        z-index: 0;
        display: flex;
        position: absolute;
    
    }

    P{
      width: 100%;
      font-family: 'Uni Sans', sans-serif;
      font-weight: bold;
      position: absolute;
      font-size: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75vh;
      color: #f1f1f1;
    }

    .slider {
      width: 100vw;
      height: 120vh;
    
    
    }
    
    .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      position: absolute;
      width: 100%;
    
      &:target {
    
        .slide__image {
          transform: translate(0);
          opacity: 1;
          transition-delay: 0.5s;
          filter: blur(0) drop-shadow(0px 10px 30px rgba(0,0,0,0.35));
        }
      }
    }
    
    
    
    .slide__images {
      position: relative;
      width: 100%;
      max-width: 900px;
      margin: 0 20px;
    }
    
    .slide__image {
      position: absolute;
      width: 100%;
      opacity: 1;
      transition: all 0.5s ease-in-out 0s;
      filter:  drop-shadow(20px 20px 10px rgba(0,0,0,0.35));
      will-change: transform, opacity, filter;
    
      svg {
        display: block;
      }
      
      &--left {
        transform: translate(0.85%, -10px);
        animation: float 4s cubic-bezier(0.91, -0.03, 0.17, 0.75) infinite;
      }
      
      &--right {
        top: 5vmin;
        transform: translate(-0.75%, 10px);
        animation: float 5s  infinite;
      }
}


}

.broke{
  position: absolute;
  z-index: 1;
  filter: drop-shadow(-1px 30px 10px rgba(0, 0, 0, 0.5));
  z-index: 2;
}


.spider-morales{
  width: 60%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.programs{
  height: 100vh;
  background-color: #0f1b2e;
  display: flex;
  align-items: center;

  .text-program {
    width: 100%;
    font-size: 4.6rem;
    padding: 20px;
    font-family: 'Uni Sans', sans-serif;
    font-weight: bold;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #f1f1f1;
    @media (max-width: 900px) {
      font-size: 2.6rem;
  }
  }
}




@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}