body {
  background: var(--gradient-radial-gray-black), var(--black);
  background-repeat: no-repeat;
  overflow-x: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--white);


  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* track */
  &::-webkit-scrollbar-track {
    background: var(--black);
  }

  /* handle */
  &::-webkit-scrollbar-thumb {
    background: var(--gold);
  }

  /* handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--gold-light);
  }

  &.active {
    overflow: hidden;
    height: calc(100vh - 1rem);
  }
}

main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 0 1rem;
  overflow-x: hidden;

  > div:last-child {
    padding-bottom: 10vh;
  }
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);

  overflow-y: visible;
  mask-image: linear-gradient(to top, #00000000 0%, #000000 50%, #000000 75%, #00000000);

  > h1 {
    position: absolute;
    top: 15%;

    color: var(--white);
    text-align: center;
    font-size: calc(2.5em + 3vw);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;

    line-height: 80%;

    animation: presentationText 3s ease;

    z-index: 1;
  }

  .planet {
    position: absolute;
    bottom: -45%;
    width: 45vw;
    max-width: 100vh;

    border-radius: 50%;
    transition: var(--transition-default);

    z-index: 1;

    > img {
      width: 100%;
      // filter: drop-shadow(0 0 0.75rem var(--black));
  
      pointer-events: none;
      user-select: none;
      
      clip-path: circle(50% at 50% 50%);
      transform: scale(1.1);
    }

    @media (max-width: 1440px) {
      bottom: -25%;
      width: 50vw;
    }

    @media (max-width: 1440px) and (min-width: 900px) and (max-height: 900px) {
      bottom: -35%;
      width: 45vw;
    }

    @media (max-width: 1440px) and (max-height: 750px) {
      bottom: -35%;
      width: 35vw;
    }

    @media (min-width: 900px) {
      animation: planetGlowing 10s infinite alternate;
    }

    @media (max-width: 900px) {
      width: 62.5vh;
      box-shadow:
        0 0 20px 50px #FFFFFF25,
        0 0 60px 100px #FBF5B750,
        0 0 100px 200px #BF953F40,
        0 0 140px 300px #AA771C15;
      transform: translateY(-50px);
      
      // > img {
      //   mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
      // }
    }
  }
 
  .bg{
  
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -80px;
  
    overflow: hidden;
    
    

    z-index: 0;

    >img{
      opacity: .1;
      filter: grayscale(1);
      width: 100%;
      pointer-events: none;
      user-select: none;
      mask-image: linear-gradient(to top, #00000000 0%,#000000 75%, #00000000 100%)
    }

    @media (max-width: 900px) {
      >img{
        width: auto;
      }
    }


  }

  @media (min-width: 900px) {
    @keyframes presentationText {
      0% {
        opacity: 0;
        top: 40%;
      }
      100% {
        opacity: 1;
        top: 15%;
      }
    }
  }

  @media (max-width: 900px) {
    @keyframes presentationText {
      0% {
        opacity: 0;
        top: 50%;
      }
      50% {
        opacity: 1;
        top: 10%;
      }
      100% {
        top: 15%;
      }
    }
  }

  @keyframes planetGlowing {
    0% {
      filter: brightness(25%) saturate(50%) invert(5%);
      box-shadow: unset;
      transform: translateY(0);
    }
    100% {
      box-shadow:
        0 0 20px 50px #FFFFFF25,
        0 0 60px 100px #FBF5B750,
        0 0 100px 200px #BF953F50,
        0 0 140px 300px #AA771C50;
      filter: unset;
      transform: translateY(-50px);
    }
  }
}

.about-me {
  display: grid;
  grid-template-columns: 50fr 50fr;
  align-items: center;

  width: 100%;
  max-width: 1200px;

  padding: 30vh 0 10vh;

  > img {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: auto;

    pointer-events: none;
    user-select: none;

    mask-image: linear-gradient(rgba(0, 0, 0, 0.863) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  }

  > div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    text-align: justify;
    text-align-last: left;

    > span {
      color: var(--gold);
      font-size: 3rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 400;
      line-height: 80%;
      text-align: center;
  
      width: 100%;

      @media (max-width: 900px) {
        text-align: center;
        text-align-last: center;
      }
    }
  
    > p {
      width: 100%;
      
      > span {
        color: var(--gold);
      }

      > i {
        font-style: normal;
      }

      @media (max-width: 900px) {
          &#contact-with-me {
            text-align: center;
            text-align-last: center;
          }
        }
    }
  }

  .socials {
    display: flex;
    
    width: 100%;
    gap: 1rem;

    > a {
      width: 100%;
      max-width: 2rem;
      height: 100%;
      max-height: 2rem;

      border-radius: 50%;

      > svg {
        padding: .25rem;
        fill: var(--gold);
        transition: var(--transition-default);
      }

      &:hover {
        > svg {
          fill: var(--white);
          padding: .18rem;
        }
      }
    }

    @media (max-width: 900px) {
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 900px) and (min-width: 500px) {
    align-items: center;

    text-align: justify;
    text-align-last: center;

    max-width: 500px;
  }

  @media (min-width: 1440px) {
    padding-top: 25vh;
  }

  @media (max-width: 900px) {
    padding-top: 15vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    > img {
      display: none;
    }
  }

  @media (max-width: 500px) {
    > div {
      > span {
        font-size: 2rem;
      }
    }
  }

  #svg{
    z-index: -1;
  }

}

.my-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1200px;

  gap: 5rem;

  > span {
    color: var(--gold);
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 80%;
    text-align: center;

    width: 100%;

    @media (max-width: 900px) {
      text-align: center;
      text-align-last: center;
    }

    @media (max-width: 500px) {
      font-size: 2rem;
      max-width: 90%;
      
    }
  }

  > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    gap: 5vw;
    width: 100%;

    > li {
      display: flex;
      flex-basis: 300px;
      
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      border-radius: 1rem;
      overflow: hidden;
  
      > img {
        width: 100%;
        height: 300px;
  
        position: relative;

        object-fit: cover;
        pointer-events: none;
        user-select: none;
        transition: var(--transition-default);

        mask-image: linear-gradient(to top, #00000050, black);
  
        transform-origin: top;
        filter: grayscale(1);
  
        // @media (max-width: 900px) {
        //   height: auto;
        // }
      }
  
      .info {
        display: flex;
        justify-content:center;
        align-items: center;
  
        width: 100%;
        height: 50px;
  
        background: var(--gold);
        transition: var(--transition-default);
        z-index: 2;
  
        > p {
          font-weight: bold;
        }
      }
  
      @media (min-width: 900px) {
        &:hover {
          > img {
            transform: scale(1.05);
            // max-height: unset;
    
            filter: grayscale(0) brightness(125%);
          }
        }
      }

      @media (max-width: 500px) {
        > img {  
          filter: grayscale(0) brightness(125%);
        }
      }
  
      @media (max-width: 900px) {
        flex-basis: 250px;
      }
    }
  }
  
}



.developer {
  z-index: -1;
  background-image: url(/assets/images/face-statue.png);
  background-repeat: no-repeat;
  background-position: 46% bottom;
  background-size: 500px;
  display: flex;
  height: 100vh;


  .glass{
    z-index: 0;
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);

    h1{
      font-size: calc(2em + 3vw);
      color: rgb(255, 255, 255);
      font-family: 'Times New Roman', Times, serif;
      font-weight: 400;
      text-align: center;
      padding-bottom: 10px;
 
    }

    button{
      align-items: center;
      padding: 6px 35px;
      border: 1px solid rgb(218, 182, 91); 
      color: white;
      background-color: transparent;
      border-radius: 4px;
      transition: all .4s ease-in-out;
      position: relative;
      cursor: pointer;
      outline: none;
      border-image: 1px solid linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C, #BF953F);
      background-size: 400%;
      font-size: 20px;
      font-weight: 350;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    } 
    button:hover{
      color: #0f0f0f;
      background: #e6c27a;
    }
    
  }
 
}

.melts{
  z-index: -1;
  display: flex;
  position: absolute;
}

.designer {
  z-index: -2;
  background-image: url(/assets/images/metal-statue.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90vh;
  display: flex;
  height: 100vh;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;


  .glass{
    z-index: 0;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    
    background: rgba(255, 255, 255, 0);

    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);

    h1{
      font-size: calc(2em + 3vw);
      color: rgb(255, 255, 255);
      font-family: 'Times New Roman', Times, serif;
      font-weight: 400;
      text-align: center;
      padding-bottom: 10px;
 
    }

    button{
      align-items: center;
      padding: 6px 35px;
      border: 1px solid rgb(218, 182, 91); 
      color: white;
      background-color: transparent;
      border-radius: 4px;
      transition: all .4s ease-in-out;
      position: relative;
      cursor: pointer;
      outline: none;
      border-image: 1px solid linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C, #BF953F);
      background-size: 400%;
      font-size: 20px;
      font-weight: 350;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    } 
    button:hover{
      color: #0f0f0f;
      background: #e6c27a;
    }
    
  }

 
}


footer {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  background: linear-gradient(
    90deg,
    hsl(0deg 0% 0%) 0%,
    hsl(46deg 45% 26%) 53%,
    hsl(46deg 43% 33%) 59%,
    hsl(45deg 43% 39%) 66%,
    hsl(44deg 42% 46%) 73%,
    hsl(44deg 47% 53%) 81%,
    hsl(43deg 63% 61%) 100%
  ); 
  overflow: hidden; 
  padding: 80px;

  p{
    z-index: 1;
    position: absolute;
    text-align: center;
  }

  .socials {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 100px;
    
    width: 100%;
    gap: 1rem;

    > a {
      width: 100%;
      max-width: 2rem;
      height: 100%;
      max-height: 2rem;

      border-radius: 50%;

      > svg {
       
        padding: .25rem;
        fill: var(--gold);
        transition: var(--transition-default);
      }

      &:hover {
        > svg {
          fill: var(--white);
          padding: .18rem;
        }
      }
    }

    @media (max-width: 900px) {
      justify-content: center;
      align-items: center;
    }
  }

  .davi-statue{
    z-index: 0;
    width: 500px;
    right: 0;
    opacity: 0.3;
    margin-left: 50%;

    mask-image: linear-gradient(to right, #00000000 0%, #000000 50%, #000000 100%);
  
  }
  @media (max-width: 900px) {
    .davi-statue{
      width: 300px;
    }

  }
  
  .menu{
    text-align: center;
    padding: 50px;
    background-color: #B38728;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    width: 80%;
    box-shadow: 10px 10px 20px #000000cb;

    .links{
      padding: 20px;
      margin-bottom: 10px;
      a{
        padding: 50px;
      
        font-size: 20px;
        transition: .4s;
      }
      a:hover{
        color: #07090C;
      }
    }
    
    a{
      text-decoration: none;
      color: #ffffff;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

  
  

  }
}

@keyframes buttonGlow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}