:root {
    // main colors
    --black: #07090C;
    --white: #fff;
    
    // base colors
    --gold: #dab65b;
    --gold-light: #e6c27a;

    // gradients
    --gradient-radial-gray-black: radial-gradient(59% 78.63% at 95.38% 41%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);

    // transitions
    --transition-default: .5s all ease;
}