:root {
    // main colors
    --black: #07090C;
    --white: #fff;
    --red: firebrick;
    
    // base colors
    --gold: #dab65b;
    --gold-light: #e6c27a;

    // gradients
    --gradient-radial-gray-black: radial-gradient(59% 78.63% at 95.38% 41%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    --gradient-linear-gold: linear-gradient(
        to top right,
        #FBF5B7, #BF953F, #AA771C
    );
    --gradient-linear-gold-transparent-bottom: linear-gradient(
        to bottom,
        transparent,
        #BF953F, #FBF5B7, #AA771C
    );
    --gradient-linear-gold-transparent: linear-gradient(
        to right,
        transparent,
        #BF953F, #FBF5B7, #AA771C,
        transparent
    );

    // transitions
    --transition-default: .5s all ease;
    --transition-duration: 500ms;
    --transition-easing: ease-out;
}