* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #07090C;
  --white: #fff;
  --gold: #dab65b;
  --gold-light: #e6c27a;
  --gradient-radial-gray-black: radial-gradient(59% 78.63% at 95.38% 41%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  --gradient-linear-gold: linear-gradient(
      to top right,
      #FBF5B7, #BF953F, #AA771C
  );
  --gradient-linear-gold-transparent-bottom: linear-gradient(
      to bottom,
      transparent,
      #BF953F, #FBF5B7, #AA771C
  );
  --gradient-linear-gold-transparent: linear-gradient(
      to right,
      transparent,
      #BF953F, #FBF5B7, #AA771C,
      transparent
  );
  --transition-default: .5s all ease;
  --transition-duration: 500ms;
  --transition-easing: ease-out;
}

header-component {
  width: 100%;
}
header-component header {
  height: 80px;
}
header-component nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: none;
  gap: 30px;
  height: 100%;
  width: 100%;
}
header-component nav .logo {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.4s ease-in-out;
}
header-component nav .logo img {
  max-width: 120px;
  padding: 10px;
  cursor: pointer;
}
header-component nav a {
  text-decoration: none;
  color: beige;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  padding: 0.75rem 1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0)), linear-gradient(to right, transparent, #BF953F, #FBF5B7, #AA771C, transparent);
  background-size: 0 1px, 0 0;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, box-shadow 1.5s ease-in-out;
}
header-component nav a:not(.logo):hover {
  background-size: 0 1px, 100% 1px;
  box-shadow: inset 0 -8px 5px -6px #BF953F;
}
header-component nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}
header-component nav .nav-list.active {
  transform: translateY(0);
  z-index: 1;
  top: 0;
}
header-component .mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 2;
}
header-component .mobile-menu > div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
header-component .mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
header-component .mobile-menu.active .line2 {
  opacity: 0;
}
header-component .mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
@media (max-width: 900px) {
  header-component .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(54, 54, 54, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: center;
    gap: 15%;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
  }
  header-component .nav-list > li {
    margin-left: none;
  }
  header-component .mobile-menu {
    display: block;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  background: var(--gradient-radial-gray-black), var(--black);
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--white);
  /* width */
  /* track */
  /* handle */
  /* handle on hover */
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: var(--black);
}
body::-webkit-scrollbar-thumb {
  background: var(--gold);
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--gold-light);
}
body.active {
  overflow: hidden;
  height: calc(100vh - 1rem);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  overflow-x: hidden;
}
main > div:last-child {
  padding-bottom: 10vh;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
  overflow-y: visible;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 75%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 75%, rgba(0, 0, 0, 0));
  @import url("https://fonts.googleapis.com/css?family=Mukta:700");
}
.presentation > h1 {
  position: absolute;
  top: 15%;
  color: var(--white);
  text-align: center;
  font-size: calc(2.5em + 3vw);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 80%;
  -webkit-animation: presentationText 3s ease;
          animation: presentationText 3s ease;
  z-index: 1;
}
.presentation .planet {
  position: absolute;
  bottom: -45%;
  width: 45vw;
  max-width: 100vh;
  border-radius: 50%;
  transition: var(--transition-default);
  z-index: 1;
}
.presentation .planet > img {
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transform: scale(1.1);
}
@media (max-width: 1440px) {
  .presentation .planet {
    bottom: -25%;
    width: 50vw;
  }
}
@media (max-width: 1440px) and (min-width: 900px) and (max-height: 900px) {
  .presentation .planet {
    bottom: -35%;
    width: 45vw;
  }
}
@media (max-width: 1440px) and (max-height: 750px) {
  .presentation .planet {
    bottom: -35%;
    width: 35vw;
  }
}
@media (min-width: 900px) {
  .presentation .planet {
    -webkit-animation: planetGlowing 10s infinite alternate;
            animation: planetGlowing 10s infinite alternate;
  }
}
@media (max-width: 900px) {
  .presentation .planet {
    width: 62.5vh;
    box-shadow: 0 0 20px 50px rgba(255, 255, 255, 0.1450980392), 0 0 60px 100px rgba(251, 245, 183, 0.3137254902), 0 0 100px 200px rgba(191, 149, 63, 0.2509803922), 0 0 140px 300px rgba(170, 119, 28, 0.0823529412);
    transform: translateY(-50px);
  }
}
.presentation * {
  box-sizing: border-box;
}
.presentation *::before, .presentation *::after {
  box-sizing: border-box;
}
.presentation body {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #f3f8fa;
}
@supports (display: grid) {
  .presentation body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }
  .presentation #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
.presentation .bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -80px;
  overflow: hidden;
  z-index: 0;
}
.presentation .bg > img {
  opacity: 0.1;
  filter: grayscale(1);
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 75%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 75%, rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 900px) {
  .presentation .bg > img {
    width: auto;
  }
}
@media (min-width: 900px) {
  @-webkit-keyframes presentationText {
    0% {
      opacity: 0;
      top: 40%;
    }
    100% {
      opacity: 1;
      top: 15%;
    }
  }
  @keyframes presentationText {
    0% {
      opacity: 0;
      top: 40%;
    }
    100% {
      opacity: 1;
      top: 15%;
    }
  }
}
@media (max-width: 900px) {
  @-webkit-keyframes presentationText {
    0% {
      opacity: 0;
      top: 50%;
    }
    50% {
      opacity: 1;
      top: 10%;
    }
    100% {
      top: 15%;
    }
  }
  @keyframes presentationText {
    0% {
      opacity: 0;
      top: 50%;
    }
    50% {
      opacity: 1;
      top: 10%;
    }
    100% {
      top: 15%;
    }
  }
}
@-webkit-keyframes planetGlowing {
  0% {
    filter: brightness(25%) saturate(50%) invert(5%);
    box-shadow: unset;
    transform: translateY(0);
  }
  100% {
    box-shadow: 0 0 20px 50px rgba(255, 255, 255, 0.1450980392), 0 0 60px 100px rgba(251, 245, 183, 0.3137254902), 0 0 100px 200px rgba(191, 149, 63, 0.3137254902), 0 0 140px 300px rgba(170, 119, 28, 0.3137254902);
    filter: unset;
    transform: translateY(-50px);
  }
}
@keyframes planetGlowing {
  0% {
    filter: brightness(25%) saturate(50%) invert(5%);
    box-shadow: unset;
    transform: translateY(0);
  }
  100% {
    box-shadow: 0 0 20px 50px rgba(255, 255, 255, 0.1450980392), 0 0 60px 100px rgba(251, 245, 183, 0.3137254902), 0 0 100px 200px rgba(191, 149, 63, 0.3137254902), 0 0 140px 300px rgba(170, 119, 28, 0.3137254902);
    filter: unset;
    transform: translateY(-50px);
  }
}

.about-me {
  display: grid;
  grid-template-columns: 50fr 50fr;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 30vh 0 10vh;
}
.about-me > img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.863) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(rgba(0, 0, 0, 0.863) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}
.about-me > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
}
.about-me > div > span {
  color: var(--gold);
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 80%;
  text-align: center;
  width: 100%;
}
@media (max-width: 900px) {
  .about-me > div > span {
    text-align: center;
    -moz-text-align-last: center;
         text-align-last: center;
  }
}
.about-me > div > p {
  width: 100%;
}
.about-me > div > p > span {
  color: var(--gold);
}
.about-me > div > p > i {
  font-style: normal;
}
@media (max-width: 900px) {
  .about-me > div > p#contact-with-me {
    text-align: center;
    -moz-text-align-last: center;
         text-align-last: center;
  }
}
.about-me .socials {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.about-me .socials > a {
  width: 100%;
  max-width: 2rem;
  height: 100%;
  max-height: 2rem;
  border-radius: 50%;
}
.about-me .socials > a > svg {
  padding: 0.25rem;
  fill: var(--gold);
  transition: var(--transition-default);
}
.about-me .socials > a:hover > svg {
  fill: var(--white);
  padding: 0.18rem;
}
@media (max-width: 900px) {
  .about-me .socials {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 900px) and (min-width: 500px) {
  .about-me {
    align-items: center;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
    max-width: 500px;
  }
}
@media (min-width: 1440px) {
  .about-me {
    padding-top: 25vh;
  }
}
@media (max-width: 900px) {
  .about-me {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me > img {
    display: none;
  }
}
@media (max-width: 500px) {
  .about-me > div > span {
    font-size: 2rem;
  }
}
.about-me #svg {
  z-index: -1;
}

.my-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 5rem;
}
.my-works > span {
  color: var(--gold);
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 80%;
  text-align: center;
  width: 100%;
}
@media (max-width: 900px) {
  .my-works > span {
    text-align: center;
    -moz-text-align-last: center;
         text-align-last: center;
  }
}
@media (max-width: 500px) {
  .my-works > span {
    font-size: 2rem;
    max-width: 90%;
  }
}
.my-works > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5vw;
  width: 100%;
}
.my-works > section > li {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}
.my-works > section > li:hover {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.7);
  transition: var(--transition-default);
}
.my-works > section > li > img {
  width: 100%;
  height: 300px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: var(--transition-default);
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.3137254902), black);
          mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.3137254902), black);
  transform-origin: top;
  filter: grayscale(1);
}
.my-works > section > li .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: var(--gold);
  transition: var(--transition-default);
  z-index: 2;
}
.my-works > section > li .info > p {
  font-weight: bold;
}
@media (min-width: 900px) {
  .my-works > section > li:hover > img {
    transform: scale(1.05);
    filter: grayscale(0) brightness(125%);
  }
}
@media (max-width: 500px) {
  .my-works > section > li > img {
    filter: grayscale(0) brightness(125%);
  }
}
@media (max-width: 900px) {
  .my-works > section > li {
    flex-basis: 250px;
  }
}

#svg {
  z-index: -2;
}

.developer {
  z-index: -1;
  background-image: url(/assets/images/face-statue.png);
  background-repeat: no-repeat;
  background-position: 46% bottom;
  background-size: 500px;
  display: flex;
  height: 100vh;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
}
@media (max-width: 400px) {
  .developer {
    background-size: 500px;
    background-position: 70% bottom;
  }
}
.developer .glass {
  z-index: 0;
  position: absolute;
  height: 100vh;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
.developer .glass h1 {
  font-size: calc(1.5em + 3vw);
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}
.developer .glass button {
  align-items: center;
  padding: 6px 35px;
  border: 1px solid rgb(218, 182, 91);
  color: white;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: relative;
  cursor: pointer;
  outline: none;
  -o-border-image: 1px solid linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C, #BF953F);
     border-image: 1px solid linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C, #BF953F);
  background-size: 400%;
  font-size: 20px;
  font-weight: 350;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.developer .glass button:hover {
  color: #0f0f0f;
  background: #e6c27a;
}

.melts {
  z-index: -1;
  display: flex;
  position: absolute;
}

.designer {
  z-index: -2;
  background-image: url(/assets/images/metal-statue.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90vh;
  display: flex;
  height: 100vh;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
@media (max-width: 900px) {
  .designer {
    background-size: 80vh;
    background-position: center;
  }
}
.designer .glass {
  z-index: 0;
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
.designer .glass h1 {
  font-size: calc(1.8em + 3vw);
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}
.designer .glass button {
  align-items: center;
  padding: 6px 35px;
  border: 1px solid rgb(218, 182, 91);
  color: white;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: relative;
  cursor: pointer;
  outline: none;
  -o-border-image: 1px solid linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C, #BF953F);
     border-image: 1px solid linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C, #BF953F);
  background-size: 400%;
  font-size: 20px;
  font-weight: 350;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.designer .glass button:hover {
  color: #0f0f0f;
  background: #e6c27a;
}

footer {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  background: linear-gradient(90deg, hsl(0deg, 0%, 0%) 0%, hsl(46deg, 45%, 26%) 53%, hsl(46deg, 43%, 33%) 59%, hsl(45deg, 43%, 39%) 66%, hsl(44deg, 42%, 46%) 73%, hsl(44deg, 47%, 53%) 81%, hsl(43deg, 63%, 61%) 100%);
  overflow: hidden;
  padding: 80px;
}
footer p {
  z-index: 1;
  position: absolute;
  text-align: center;
}
footer .socials {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 100px;
  width: 100%;
  gap: 1rem;
}
footer .socials > a {
  width: 100%;
  max-width: 2rem;
  height: 100%;
  max-height: 2rem;
  border-radius: 50%;
}
footer .socials > a > svg {
  padding: 0.25rem;
  fill: var(--gold);
  transition: var(--transition-default);
}
footer .socials > a:hover > svg {
  fill: var(--white);
  padding: 0.18rem;
}
@media (max-width: 900px) {
  footer .socials {
    justify-content: center;
    align-items: center;
  }
}
footer .davi-statue {
  z-index: 0;
  width: 500px;
  right: 0;
  opacity: 0.3;
  margin-left: 50%;
  bottom: 0;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 100%);
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 100%);
}
@media (max-width: 900px) {
  footer .davi-statue {
    width: 300px;
  }
}
footer .menu {
  text-align: center;
  padding: 50px;
  background-color: #B38728;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  width: 80%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7960784314);
}
footer .menu .links {
  padding: 20px;
  margin-bottom: 10px;
}
footer .menu .links a {
  padding: 50px;
  font-size: 20px;
  transition: 0.4s;
}
footer .menu .links a:hover {
  color: #07090C;
}
footer .menu a {
  text-decoration: none;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@-webkit-keyframes buttonGlow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes buttonGlow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}/*# sourceMappingURL=main.css.map */